Repository dawit-personal/chatFlow: changes, and which lint-staged commands are due for each by the changed paths.
All: **/node_modules/**, **/dist/**, **/build/**, cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests, prettier --log-level warn --write

feat: integrate Socket.IO with backend and frontend; added initial ChatContext setup for managing socket state
  backend/src/app.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/main.jsx
  frontend/src/pages/Chats.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/Message.jsx
  frontend/src/pages/Profile.jsx
  frontend/src/pages/authContext.jsx
Due: cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests, prettier --log-level warn --write

feat: add ChatContext for managing socket connection and chat state
  .env
  frontend/src/context/chatContext.jsx
Due: none

feat(socket): add event to track connected users
  frontend/src/App.jsx
  frontend/src/context/authContext.jsx
  frontend/src/context/chatContext.jsx
  frontend/src/pages/Login.jsx
  rtc/index.js
  rtc/package-lock.json
  rtc/package.json
Due: prettier --log-level warn --write

fix: ensure users only receive chats they created or are participants of
  backend/src/repositories/chatMember.repository.js
  backend/src/services/chat.service.js
Due: cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests

fix(socket):Moved outside the connection handler to persist across all sockets.
  frontend/src/context/chatContext.jsx
  rtc/index.js
Due: none

feat: Add real-time online status with socket integration
  frontend/src/pages/Chats.jsx
  frontend/src/pages/Message.jsx
Due: none

fix(bakcend): fix syntax error to get message by chatId
  backend/src/services/chat.service.js
Due: cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests

feat(socket): handle user disconnection and remove them from online users
  rtc/index.js
Due: none

fix: Show online/offline status instantly on user status change
  frontend/src/context copy/authContext.jsx
  frontend/src/context copy/chatContext.old.jsx
  frontend/src/context/chatContext.jsx
  frontend/src/context/chatContext.old.jsx
  frontend/src/pages/Chats.jsx
  frontend/src/pages/Message.jsx
  rtc/index.js
Due: none

Fix real-time disconnect handling and online user tracking
  frontend/src/context/chatContext.jsx
  rtc/index.js
Due: none

eat: add sendMessage event on client and server, with minor refactors
  .env
  frontend/src/context/chatContext.jsx
  frontend/src/pages/Chats.jsx
  rtc/index.js
Due: none

feat(chat): support creating 1:1 chats with single participant
  backend/db/models/Chat.js
  backend/db/models/chatMember.js
  backend/src/repositories/chat.repository.js
  backend/src/services/chat.service.js
  frontend/src/main.jsx
  frontend/src/pages/Chats.jsx
Due: cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests

fix(chat system architecture): resolve critical bug in chat member retrieval flow
  backend/src/repositories/chat.repository.js
  backend/src/repositories/chatMember.repository.js
  backend/src/services/chat.service.js
Due: cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests

feat(search): add basic friend search by first name
  frontend/src/pages/Chats.jsx
Due: none

feat(user-search): add search by first name across route, controller, service, and repository layers
  backend/src/api/controllers/users.controller.js
  backend/src/api/routes/users.routes.js
  backend/src/repositories/userProfile.repository.js
  backend/src/services/user.service.js
Due: cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests

Add Joi validation for user first name search input
  backend/src/api/routes/auth.routes.js
  backend/src/api/routes/users.routes.js
  backend/src/middlewares/validation/user.validation.js
Due: cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests

chore: add GIN trigram index on firstName in UserProfiles to optimize partial name search
  backend/db/migrations/20250608023233-add_gin_index_on_userprofiles_firstname.js.js
Due: cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests

when searching only retrn firstName
  backend/src/api/controllers/users.controller.js
  backend/src/repositories/userProfile.repository.js
  backend/src/services/user.service.js
Due: cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests

Add partial firstName search functionality in frontend
  backend/src/services/user.service.js
  frontend/src/pages/Chats.jsx
Due: cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests

Implement start chat feature by searching users
  frontend/src/pages/Chats.jsx
Due: none

Fix message retrieval and formatting logic to correctly label message sender and direction
  backend/src/repositories/chatMember.repository.js
  backend/src/repositories/userProfile.repository.js
  backend/src/services/chat.service.js
  backend/src/services/user.service.js
Due: cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests

ix: Correct message positioning with new senderId format
  frontend/src/pages/Message.jsx
Due: none

fix(chat): include both senderId and recipientId in message response
  backend/src/services/chat.service.js
Due: cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests

fix: Handle bidirectional messages with senderId and recipientId
  frontend/src/pages/Message.jsx
Due: none

fix(chat): resolve issue where chat list was only showing for one participant
  backend/src/services/chat.service.js
Due: cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests

feat(chat): Implement real-time messaging with dual-path delivery
  frontend/src/context/chatContext.jsx
  frontend/src/pages/Message.jsx
  rtc/index.js
Due: none

feat: Implement group chat creation UI flow
  frontend/src/App.jsx
  frontend/src/pages/Chats.jsx
  frontend/src/pages/CreateGroupName.jsx
  frontend/src/pages/CreateGroupParticipants.jsx
Due: none

feat: implement group chat creation with participant management and validation
  backend/src/api/controllers/chat.controller.js
  backend/src/services/chat.service.js
Due: cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests

feat(chat): unify group and 1:1 chat listing logic
  backend/src/repositories/chat.repository.js
  backend/src/services/chat.service.js
Due: cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests

feat: display group chats with name, group icon, and indicator in chat list
  frontend/src/pages/Chats.jsx
Due: none

feat(auth): implement logout functionality by updating user login status
  backend/src/api/controllers/auth.controller.js
  backend/src/api/routes/auth.routes.js
  backend/src/api/routes/users.routes.js
  backend/src/repositories/userLogin.repository.js
  backend/src/services/auth.service.js
Due: cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests

feat: add logout functionality to Profile page with API call, token cleanup, and redirect
  frontend/src/pages/Profile.jsx
Due: none

feat: disconnect socket on user logout to ensure clean session and remove from online users
  frontend/src/context/chatContext.jsx
  frontend/src/pages/Profile.jsx
Due: none

chore: add Makefile for streamlined dev workflow and setup Husky for Git hooks
  backend/README.md
  backend/docs/README.md
Due: prettier --log-level warn --write

Add interactive Makefile target to kill selected ports (4000, 5000, 5173)
  Makefile
Due: none

Add frontend and rtc services to Docker Compose with proper build, ports, volumes, and environment setup
  .env
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  rtc/.dockerignore
  rtc/Dockerfile
Due: none

Add health checks to backend, frontend, rtc services in Docker Compose
  docker-compose.yml
Due: none

feat: Add rate limiting to backend and rtc services
  backend/docs/README.md
  backend/docs/architecture.png
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  frontend/src/App.jsx
  frontend/src/main.jsx
  frontend/src/pages/Profile.jsx
Due: cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests, prettier --log-level warn --write

refactor:Relax password validation rules for easier local setup (SOC 2 trade-off noted)
  backend/src/middlewares/validation/auth.validation.js
Due: cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests

refactor:Add .PHONY declarations for all make targets to ensure consistent execution and avoid conflicts with file names
  Makefile
Due: none

Path conditions:
  **/node_modules/**: any of: ignore
  **/dist/**: any of: ignore
  **/build/**: any of: ignore
  cd backend && cross-env NODE_ENV=test npx jest --findRelatedTests --passWithNoTests: any of: backend/**/*.{js,ts}
  prettier --log-level warn --write: any of: **/*.{json,md}
