Repository dawit-personal/chatFlow: changes, and which lint-staged commands are due for each by the changed paths.
All: **/node_modules/**, **/dist/**, **/build/**, cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests, prettier --log-level warn --write

.lintstagedrc.json:

{
    "ignore": ["**/node_modules/**", "**/dist/**", "**/build/**"],
    "**/*.{js,ts}": [
      "cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests"
    ],
    "**/*.{json,md}": [
      "prettier --log-level warn --write"
    ]
}

test commit
  .gitignore
  .husky/pre-commit
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --log-level warn --write

test commit
  backend/server.js
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests

docs: update README to document Husky pre-commit checks
  .lintstagedrc.json
  backend/README.md
Due: prettier --log-level warn --write

test husky
  backend/package.json
  backend/tests/unit/validation/registerValidation.test.js
  eslint.config.mjs
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests, prettier --log-level warn --write

test: refactor register validation tests to import schema from source
  backend/tests/unit/validation/registerValidation.test.js
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests

chore: move husky and prepare script to root package.json
  backend/package.json
  package.json
Due: prettier --log-level warn --write

test: remove frontend from test script
  .husky/pre-commit
  package.json
Due: prettier --log-level warn --write

doc: add husky comnad in readme
  backend/README.md
Due: prettier --log-level warn --write

feat: set up React app with Axios, Redux, and MUI
  .env
  docker-compose.yml
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests, prettier --log-level warn --write

feat: feat(frontend): Add multi-stage Dockerfile for production
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/src/App.test.tsx
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests

chore: setup React with Vite (JS) and remove old TypeScript prototype setup
  frontend/.gitignore
  frontend/Dockerfile
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/main.jsx
  frontend/src/pages/Register.jsx
  frontend/src/react-app-env.d.ts
  frontend/tsconfig.json
  frontend/vite.config.js
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests, prettier --log-level warn --write

feat: add sample registration page UI
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/Register.jsx
Due: prettier --log-level warn --write

refactor:Make registration UI clean, professional, and mobile-friendly
  frontend/src/pages/Register.jsx
Due: none

feat:Implement client-side validation for registration form fields
  frontend/package-lock.json
  frontend/src/pages/Register.jsx
Due: prettier --log-level warn --write

feat:Implemen form submission to backend registration API
  .env
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/Login.jsx
  frontend/vite.config.js
  package-lock.json
  package.json
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests, prettier --log-level warn --write

chore: configure CORS in backend to allow frontend communication
  .env
  Makefile
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests, prettier --log-level warn --write

test
  Makefile
  backend/src/app.js
  frontend/src/pages/Register.jsx
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests

fix: resolve form validation persistence and regex linting issues
  frontend/src/App.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/Register.jsx
Due: none

feat: implement AuthContext and wrap App with AuthProvider
  frontend/src/App.jsx
  frontend/src/main.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/authContext.jsx
Due: none

feat: set up initial user profile page with layout and dummy data
  frontend/src/App.jsx
  frontend/src/pages/Profile.jsx
Due: none

feat(api): fetch user profile with associated email from User model
  backend/src/repositories/userProfile.repository.js
  backend/src/services/user.service.js
  frontend/src/pages/Login.jsx
  frontend/src/pages/Profile.jsx
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests

Fix token persistence on page refresh
  Makefile
  frontend/src/App.jsx
  frontend/src/pages/authContext.jsx
Due: none

chors: update make commands
  Makefile
Due: none

feat: add chat-related tables and models (Chats, ChatMembers, Messages, MessageStatuses)
  Makefile
  backend/db/migrations/20250606214830-create-chats.js
  backend/db/migrations/20250606220134-create-chatMember.js
  backend/db/migrations/20250606220622-create-message.js
  backend/db/migrations/20250606221142-create-messageStatus.js
  backend/db/models/chatMember.js
  backend/db/models/chats.js
  backend/db/models/message.js
  backend/db/models/messageStatus.js
  docker-compose.yml
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests

feat: add repository classes for Chats, ChatMembers, Messages, and MessageStatuses models
  Makefile
  backend/src/repositories/chatMembers.repository.js
  backend/src/repositories/chats.repository.js
  backend/src/repositories/messageStatuses.repository.js
  backend/src/repositories/messages.repository.js
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests

feat(chat): implement basic chat functionality with route, service, and controller setup
  backend/db/models/Chat.js
  backend/src/api/controllers/chat.controller.js
  backend/src/api/routes/conversation.routes.js
  backend/src/app.js
  backend/src/repositories/chats.repository.js
  backend/src/services/chat.service.js
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests

feat(chat): implement getChat controller with service integration
  backend/db/migrations/20250606214830-create-chats.js
  backend/db/migrations/20250606220134-create-chatMember.js
  backend/db/migrations/20250606220622-create-message.js
  backend/db/migrations/20250606221142-create-messageStatus.js
  backend/db/models/Chat.js
  backend/db/models/chatMember.js
  backend/db/models/message.js
  backend/db/models/messageStatus.js
  backend/src/api/controllers/chat.controller.js
  backend/src/api/routes/chat.routes.js
  backend/src/app.js
  backend/src/repositories/chat.repository.js
  backend/src/repositories/chats.repository.js
  backend/src/services/chat.service.js
  backend/tools/createRepository.js
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests

feat(chat): implement paginated retrieval of all chats for a user
  backend/src/api/controllers/chat.controller.js
  backend/src/api/routes/chat.routes.js
  backend/src/repositories/chat.repository.js
  backend/src/services/chat.service.js
  backend/tools/createRepository.js
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests

feat: Add Chats page with API integration and pagination
  frontend/src/App.jsx
  frontend/src/pages/Chats.jsx
Due: none

feat(chat): create chat with initial message and update ChatMembers and MessageStatuses
  backend/db/models/chatMember.js
  backend/db/models/message.js
  backend/db/models/messageStatus.js
  backend/src/repositories/chatMember.repository.js
  backend/src/repositories/chatMembers.repository.js
  backend/src/repositories/message.repository.js
  backend/src/repositories/messageStatus.repository.js
  backend/src/repositories/messages.repository.js
  backend/src/services/chat.service.js
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests

feat: include user's firstName and lastName in chat history list
  backend/db/models/User.js
  backend/db/models/UserProfile.js
  backend/src/repositories/chatMember.repository.js
  backend/src/services/chat.service.js
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests

feat: implement chat listing by user name with active status
  frontend/src/pages/Chats.jsx
Due: none

feat: Add chat message interface with real-time messaging
  frontend/src/App.jsx
  frontend/src/pages/Chats.jsx
  frontend/src/pages/Message.jsx
Due: none

feat: implement GET /conversation/:id/messages to retrieve chat messages by ID
  backend/src/api/controllers/chat.controller.js
  backend/src/api/routes/chat.routes.js
  backend/src/repositories/message.repository.js
  backend/src/services/chat.service.js
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests

fix minor issues
  backend/src/services/chat.service.js
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests

feat: Add real API integration with message alignment and read receipts
  frontend/src/pages/Message.jsx
  frontend/src/pages/authContext.jsx
Due: none

feat: implement POST /conversations/:id/messages for sending messages to a chat
  backend/src/api/controllers/chat.controller.js
  backend/src/api/routes/chat.routes.js
  backend/src/services/chat.service.js
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests

refactor:order message asc
  backend/src/repositories/message.repository.js
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests

feat: Enable real message sending via API endpoint
  frontend/src/pages/Message.jsx
Due: none

chors(Make): add more commands
  Makefile
  frontend/src/context/authContext.jsx
  frontend/src/context/chatContext.jsx
  rtc/index.js
  rtc/package-lock.json
  rtc/package.json
Due: cross-env NODE_ENV=test jest --findRelatedTests --passWithNoTests, prettier --log-level warn --write
